.playertable {
  display:flex;
}
table {
  margin: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr{
	height: 40px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dicevalues {
	margin: 30px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.reroll {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5em;

}